:root {
  --dark-blue: #2148c0;
  --white: #ffffff;
  --padding: 12px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --border-size-1: 1px;
  --br-radius-4: 4px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../public/assets/bg-curve.svg) no-repeat 100% 0 / contain,
    url(../public/assets/bg-circle-g.svg) no-repeat -25% 100%/50% 50%, var(--dark-blue);
  min-height: 100vh;
}



